services:
  postgres:
    image: postgres:15
    environment:
      POSTGRES_DB: tv_engine_db
      POSTGRES_USER: tv_user
      POSTGRES_PASSWORD: ${DB_PASSWORD}
    ports:
      - "5433:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  backend:
    build:
      context: .
      dockerfile: backend/Dockerfile
    ports:
      - "8000:8000"
    depends_on:
      - postgres
    env_file:
      - backend/.env
    volumes:
      - ./backend:/code/app

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    ports:
      - "3000:80"
    depends_on:
      - backend

volumes:
  postgres_data:
