services:
  postgres:
    image: postgres:15
    environment:
      POSTGRES_DB: tv_engine_db
      POSTGRES_USER: tv_user
      POSTGRES_PASSWORD: ${DB_PASSWORD}
    ports:
      - "5433:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  backend:
    build:
      context: .
      dockerfile: backend/Dockerfile
    ports:
      - "8000:8000"
    depends_on:
      - postgres
    environment:
      DATABASE_URL: postgresql://tv_user:${DB_PASSWORD}@postgres/tv_engine_db
      API_KEY: ${API_KEY}
      API_SECRET: ${API_SECRET}
    volumes:
      - ./backend:/code/app

  frontend:
    build: ./frontend
    ports:
      - "3000:3000"

volumes:
  postgres_data:
