services:
  app:
    build:
      context: .
      dockerfile: backend/Dockerfile
    env_file:
      - ./.env
    ports:
      - "8000:8000"
    depends_on:
      - db
      - redis
    volumes:
      - .:/code
    networks:
      - tv_engine_net

  db:
    image: postgres:13
    environment:
      - POSTGRES_DB=tv_engine_db
      - POSTGRES_USER=tv_user       
      - POSTGRES_PASSWORD=***REDACTED*** 
    ports:
      - "5433:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - tv_engine_net

  redis:
    image: redis:alpine
    networks:
      - tv_engine_net

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    ports:
      - "3000:80"
    depends_on:
      - app
    networks:
      - tv_engine_net

volumes:
  postgres_data:

networks:
  tv_engine_net:
    driver: bridge
