services:
  app:
    build:
      context: .
      dockerfile: backend/Dockerfile
    env_file:
      - ./.env
    ports:
      - "8000:8000"
    environment:
      - PYTHONPATH=/code/backend
      - TESTING=True
      - DATABASE_URL=postgresql+asyncpg://tv_user:${POSTGRES_PASSWORD}@db:5432/tv_engine_db
      - API_KEY=your_api_key
      - API_SECRET=your_api_secret
      - REDIS_URL=redis://redis:6379
    depends_on:
      - db
      - redis
    volumes:
      - .:/code
    networks:
      - tv_engine_net

  db:
    image: postgres:13
    environment:
      - POSTGRES_DB=tv_engine_db
      - POSTGRES_USER=tv_user       
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
    ports:
      - "5433:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - tv_engine_net

  redis:
    image: redis:alpine
    networks:
      - tv_engine_net

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    ports:
      - "3000:80"
    depends_on:
      - app
    networks:
      - tv_engine_net

volumes:
  postgres_data:

networks:
  tv_engine_net:
    driver: bridge
